<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Owners</title>
</head>

<body>
  <h1 th:text="'List of Owners'">List of Owners...</h1>

  <table>
    <caption>List of Owners</caption>
    <thread>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thread>
    <tbody>
      <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">John</td>
        <td th:text="${owner.lastName}">Buck</td>
      </tr>
    </tbody>
  </table>
</body>

</html>